<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dm2230_assn">
<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:screenOrientation = "landscape">

    <activity android:name = ".SplashPage"
        android:screenOrientation = "landscape"> <!-- Add information of the activity class:Splashpage -->
        <intent-filter>
            <action android:name = "android.intent.action.MAIN"/>
            <category android:name = "android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <!-- Next is the Main menu activity class to be declared. -->

    <!-- Android Manifest is like th main information file for the app to know what class to run -->
    <activity android:name = ".MainMenu"
        android:screenOrientation = "landscape"> <!-- Add information of the activity class:MainMenu -->
        <intent-filter>
            <action android:name = "android.intent.action.MAIN"/> <!-- Always "MAIN" -->
            <category android:name = "android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

    <activity android:name = ".Tutorial"
        android:screenOrientation = "landscape"> <!-- Add information of the activity class:MainMenu -->
        <intent-filter>
            <action android:name = "android.intent.action.MAIN"/> <!-- Always "MAIN" -->
            <category android:name = "android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

    <activity android:name = ".Options"
        android:screenOrientation = "landscape"> <!-- Add information of the activity class:MainMenu -->
        <intent-filter>
            <action android:name = "android.intent.action.MAIN"/> <!-- Always "MAIN" -->
            <category android:name = "android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

    <activity android:name = ".Leaderboards"
        android:screenOrientation = "landscape"> <!-- Add information of the activity class:MainMenu -->
        <intent-filter>
            <action android:name = "android.intent.action.MAIN"/> <!-- Always "MAIN" -->
            <category android:name = "android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

    <activity android:name = ".GamePage"
        android:screenOrientation = "landscape"> <!-- Add information of the activity class:MainMenu -->
        <intent-filter>
            <action android:name = "android.intent.action.MAIN"/> <!-- Always "MAIN" -->
            <category android:name = "android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>
    </application>
</manifest>
